body{
background-color:#f2f4f7;
}
.login{
background-color:white;
border-radius:7px;
border:5px solid white;
width:370px;
height:330px;
box-shadow:5px 5px 5px 5px lightgrey;
margin-left:850px;
margin-top:-220px;
}
h1{
color:#0866ff;
font-family:poppins;
font-size:57px;
font-weight:900px;
margin-top:200px;
margin-left:250px;
}
p{
margin-top:10px;
font-family:arial;
font-size:27px;
margin-left:250px;
margin-top:-35px;
}
.email{
margin-top:15px;
margin-left:10px;
padding:5px;
width:340px;
height:45px;
font-family:arial;
font-size:15px;
border-radius:5px;
border:1px solid lightgrey;
}
.pass{
margin-left:10px;
padding:5px;
width:340px;
height:45px;
font-family:arial;
font-size:15px;
border-radius:5px;
border:1px solid lightgrey;

}
.log{
width:347px;
height:45px;
padding:5px;
margin-left:10px;
background-color:#0866ff;
font-family:arial;
border-radius:4px;
border:none;
color:white;
font-size:20px;
font-weight:900px;
}
a{
font-size:15px;
font-family:arial;
margin-left:110px;
text-decoration:none;
color:#0366fc;
}
.create{
margin-top:-10px;
width:190px;
padding:7px;
height:45px;
background-color:#6ac23c;
border:none;
border-radius:5px;
color:white;
font-family:arial;
font-size:15px;
font-weight:900px;
margin-left:90px;
}
.page{
color:black;
font-size:15px;
margin-top:-0px;
margin-left:440px;
}
.under{
color:black;
font-size:15px;
margin-top:-0px;
margin-left:440px;
}
input:focus{
outline:2px solid blue;
}
placeholder::{
color:lightgrey;
}
